<div *ngIf="getParking().length > 0" class="container mb-5 text-center">
  <h1 class="mb-4 styled-title">Estacionamento</h1>
  <div class="row align-items-center">
    <div *ngFor=" let recom of getParking()" class="col-sm-4 col-12">
      <div class="card mb-4 mr-sm-0 mr-4 ml-sm-0 ml-4">
        <div class="card-img-wrapper mb-2">
          <img class="card-img-top" src="{{recom.photoUrl}}" alt="">
        </div>
        <div class="card-body p-1">
          <h6 class="card-title text-center mb-1 mt-2">{{recom.title}}</h6>
          <p class="card-text text-muted text-center">{{recom.address}}</p>
          <div class="row align-items-center mb-3 footer-row">
            <div class="col-6 text-center ma">
              <strong>Preço: </strong><strong>{{recom.price | currency:'EUR'}}</strong>
            </div>
            <div class="col-6">
              <a class="btn btn-light text-center bg-maroon text-white" target="_blank" rel="noopener noreferrer"
                href="{{recom.mapCoordinates}}"><i class="fa fa-map-marker mr-2"></i>Mapa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="getHotels().length > 0" class="container mb-5 text-center">
  <h1 class="mb-4 styled-title">Alojamento</h1>
  <div class="row align-items-center">
    <div *ngFor=" let recom of getHotels()" class="col-sm-4 col-12">
      <div class="card mb-4 mr-sm-0 mr-4 ml-sm-0 ml-4">
        <div class="card-img-wrapper mb-2">
          <img class="card-img-top" src="{{recom.photoUrl}}" alt="">
        </div>
        <div class="card-body p-1">
          <h6 class="card-title text-center mb-1 mt-2">{{recom.title}}</h6>
          <p class="card-text text-muted text-center">{{recom.address}}</p>
          <div class="row align-items-center mb-3 footer-row">
            <div class="col-6 text-center ma">
              <strong>Preço: </strong><strong>{{recom.price | currency:'EUR'}}</strong>
            </div>
            <div class="col-6">
              <a class="btn btn-light text-center bg-maroon text-white" target="_blank" rel="noopener noreferrer"
                href="{{recom.mapCoordinates}}"><i class="fa fa-map-marker mr-2"></i>Mapa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
