<section id="footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-6 col-xs-6 col-sm-6 col-md-6 text-center text-white">
        <ul class="list-unstyled mb-0 list-inline social text-center">
          <li class="list-inline-item"><a href="https://github.com/mzamith/ourwedding" target="_blank"><i
                class="fa fa-github"></i></a></li>
        </ul>
        <small> Made with lots of <i class="fa fa-heart"></i> by the groom</small>
      </div>
      <div class="col-6 col-xs-6 col-sm-6 col-md-6 text-center text-white">
        <small>Contactos:</small><br>
        <small><b>Rita:</b> 917476289</small><br>
        <small><b>Manel:</b> 912096755</small>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-1 text-center text-white">
        <hr />
        <small>Take it easy, I'm not a designer...</small>
      </div>
      <hr>
    </div>
  </div>
</section>
