<section id="footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://github.com/mzamith/ourwedding" target="_blank"><i
                class="fa fa-github"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p> Made with lots of <i class="fa fa-heart"></i> by the groom</p>
        <p class="h6">Take it easy, I'm not a designer...</p>
      </div>
      <hr>
    </div>
  </div>
</section>
