.cover-img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.message-container {
  min-height: 80vh;
  position: relative;
}

.message-container-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

p {
  font-size: 2vh;
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}

h1 {
  color: white
}

.row-container {
  text-align: right;
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%
}

@media(max-width: 599px) {
  .row-container {
    text-align: center;
    min-height: 80vh;
    position: relative;
    width: 100%
  }

  .row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
  }

  .rel-container {
    width: 100%
  }
}

@media(min-width: 599px) {
  .row {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5rem;
  }
}
