<div class="row-container mb-5">
  <div class=" row">
    <div class="col-8 d-none d-sm-block">
      <img src="https://1.bp.blogspot.com/-pWwLtY16-VQ/UnpDBWBsaEI/AAAAAAAAM8w/Bj9txwz0puk/s1600/WP_000818.jpg"
        class="img-fluid cover-img">
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="container">
        <div class="container mt-3">
          <h1 class="mb-2">Agenda:</h1>
          <div class="row mb-3 mt-4">
            <div class="col-5" style="margin:auto">
              <img class="icon img-fluid" style="width: 7vw"
                src="https://www.freeiconspng.com/thumbs/wedding-ring-png/plain-wedding-rings-png-0.png" alt="">
            </div>
            <div class="col-7">
              <h3 class="styled-title">Cerimónia Religiosa</h3>
              <hr>
              <p>Igreja da Oliveira</p>
              <p>Largo da Oliveira 8, Guimarães</p>
              <p>14h30</p>
              <a class="btn btn-light text-center" target="_blank" rel="noopener noreferrer"
                href="https://goo.gl/maps/rYHozcLMJKMfkrAE8"><i class="fa fa-map-marker mr-2"></i>Ver no Maps</a>
            </div>
          </div>
        </div>
        <div class="container mt-4">

          <h2 class="styled-title">Copo de Água</h2>
          <hr>
          <p>Palácio da Igreja Velha</p>
          <p>Av. do Casal 387, Vermoim</p>
          <p>17h30</p>
          <a class="btn btn-light text-center" target="_blank" rel="noopener noreferrer"
            href="https://goo.gl/maps/rRpozp8BZsoNviHz6"><i class="fa fa-map-marker mr-2"></i>Ver no Maps</a>
        </div>
      </div>
    </div>
  </div>
</div>
