<div class="row-container mb-5">
  <div class="row">
    <div class="col-8 d-none d-sm-block h-100">
      <img src="https://1.bp.blogspot.com/-pWwLtY16-VQ/UnpDBWBsaEI/AAAAAAAAM8w/Bj9txwz0puk/s1600/WP_000818.jpg"
        class="img-fluid cover-img h-100">
    </div>
    <div class="col-12 col-sm-12 col-md-4 ma">
      <div class="container rel-container">
        <h3 class="styled-title">Cerimónia Religiosa</h3>
        <hr>
        <p>Igreja da Oliveira</p>
        <p>Largo da Oliveira 8, Guimarães</p>
        <p>14h30</p>
        <a class="btn btn-light text-center mt-3" target="_blank" rel="noopener noreferrer"
          href="https://goo.gl/maps/rYHozcLMJKMfkrAE8"><i class="fa fa-map-marker"></i> Mapa</a>
      </div>
      <div class="container mt-5">

        <h2 class="styled-title">Copo de Água</h2>
        <hr>
        <p>Palácio da Igreja Velha</p>
        <p>Av. do Casal 387, Vermoim</p>
        <p>17h30</p>
        <a class="btn btn-light text-center mt-3" target="_blank" rel="noopener noreferrer"
          href="https://goo.gl/maps/rRpozp8BZsoNviHz6"><i class="fa fa-map-marker"></i> Mapa</a>
      </div>
    </div>
  </div>
</div>
