<div class="row-container mb-5">
  <div class=" row">
    <div class="col-8 d-none d-sm-block">
      <img src="https://1.bp.blogspot.com/-pWwLtY16-VQ/UnpDBWBsaEI/AAAAAAAAM8w/Bj9txwz0puk/s1600/WP_000818.jpg"
        class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="container mt-5">
        <h1>Agenda:</h1>
        <hr>
        <h3>Cerimónia Religiosa</h3>
        <p>Igreja da Oliveira</p>
        <p>Morada</p>
        <p>14h30</p>
        <a class="btn btn-light text-center" target="_blank" rel="noopener noreferrer"
          href="https://goo.gl/maps/rYHozcLMJKMfkrAE8"><i class="fa fa-map-marker mr-2"></i>Ver no Maps</a>
      </div>
      <div class="container">
        <hr>
        <h2>Copo de Água</h2>
        <p>Palácio da Igreja Velha</p>
        <p>Morada</p>
        <p>17h30</p>
        <a class="btn btn-light text-center" target="_blank" rel="noopener noreferrer"
          href="https://goo.gl/maps/rRpozp8BZsoNviHz6"><i class="fa fa-map-marker mr-2"></i>Ver no Maps</a>
      </div>
    </div>
  </div>
</div>
