/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/litera/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

html {
  scroll-behavior: smooth;
  background-color: #F7F5F1;
}

p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
small,
span,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

button {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 100;
}

.styled-title {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Lobster Two", sans-serif; */
  /*font-family: "Oleo Script", sans-serif;*/
  /*font-family: "Berkshire Swash", sans-serif;*/
  /*font-family: "Merienda One", sans-serif;*/
  font-family: "Cookie", sans-serif;
  color: #B68F16;

}

.fancy-header {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #B68F16 !important;
}

.nav-link {
  cursor: pointer;
}

textarea {
  resize: none;
}

.bg-eggshell {
  background-color: #F7F5F1 !important;
}

.text-eggshell {
  color: #F7F5F1 !important;
}

.bg-maroon {
  background-color: #1f0000 !important;
}

.text-maroon {
  color: #440402 !important;
}

.text-wite {
  color: white !important;
}

.ma {
  margin: auto;
}
