<div class="container-fluid mb-5 mt-4">
  <h1>Criar Recomendações</h1>
  <form [formGroup]="recommendationForm" (ngSubmit)="submit()">

    <hr>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': recommendationForm.get('title').errors && submitted}" class="form-control"
        formControlName="title" placeholder="Título">
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <select class="form-control" id="category" formControlName="category">
        <option value="PARKING">Estacionamento</option>
        <option value="HOTEL">Alojamento</option>
      </select>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': recommendationForm.get('photoUrl').errors && submitted}" class="form-control"
        placeholder="URL da Foto" formControlName="photoUrl">
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': recommendationForm.get('address').errors && submitted}" class="form-control"
        placeholder="Morada" formControlName="address">
    </div>

    <div class="form-group">
      <input class="form-control" type="number"
        [ngClass]="{'is-invalid': recommendationForm.get('price').errors && submitted}" formControlName="price"
        placeholder="Preço">
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': recommendationForm.get('mapCoordinates').errors && submitted}"
        class="form-control" placeholder="Link Google Maps" formControlName="mapCoordinates">
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Criar</button>
    </div>

  </form>
</div>
