<div class="card mb-4 mr-sm-0 mr-4 ml-sm-0 ml-4">
  <div class="card-img-wrapper mb-2">
    <img class="card-img-top" src="{{recommendation.photoUrl}}" alt="">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1 mt-2">{{recommendation.title}}</h6>
    <p class="card-text text-muted text-center">{{recommendation.address}}</p>
    <div class="row align-items-center mb-3 footer-row">
      <div class="col-6 text-center ma">
        {{recommendation.price | currency:'EUR'}} {{priceTag}}
      </div>
      <div class="col-6">
        <a class="btn btn-light text-center bg-maroon text-white" target="_blank" rel="noopener noreferrer"
          href="{{recommendation.mapCoordinates}}"><i class="fa fa-map-marker mr-2"></i>Mapa</a>
      </div>
    </div>
  </div>
</div>
