.form-container {
  margin-top: 40vh;
  height: 100%;
}

.form-group {
  text-align: center;
  height: 100%;
}

.bck {
  width: 100%;
  height: 100vh;
  display: table;
  margin-bottom: 0;
  background-image: url("https://res.cloudinary.com/dp8csoo5l/image/upload/e_brightness:-50,q_100/v1599607547/IMG_3415_jmyy8v.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
