<div class="row-container container-fluid text-center">
  <div class="row h-100">
    <!-- <div class="col-sm-3 col-0"></div> -->
    <div *ngIf="!invite.answered" class="col-12 col-sm-12 col-md-4 h-100 card-parent">
      <div class="card">
        <h1 class="mb-4 mt-5 styled-title">RSVP</h1>
        <div class="card-img-wrapper mb-2 mt-5">
          <img width="50px" class=""
            src="https://res.cloudinary.com/dp8csoo5l/image/upload/v1599662288/email_kmoytp.png" />
        </div>
        <div class="card-body p-1 m-2">
          <h6 class="card-title text-center mb-5">{{invite.name}}:</h6>
          <p class="card-text text-center mt-5">Temos todo o gosto em receber-vos no nosso dia...</p>
          <p class="card-text text-center mt-3">Para facilitar o nosso trabalho, por favor responde o mais
            cedo possível!</p> <span></span>
          <small class="text-muted">Agradecemos uma resposta final antes do dia 01/05/2021</small>
          <div class="row" class="align-items-center mb-3">
            <a class="btn btn-light text-center mt-5 bg-maroon text-white" [routerLink]="['/rsvp']"><i
                class="fa fa-reply mr-2"></i>Responder</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="invite.answered" class="col-12 col-sm-12 col-md-4 h-100 card-parent">
      <div class="card">
        <h1 class="mb-2 mt-5 styled-title">RSVP</h1>
        <div class="card-img-wrapper mb-2 mt-3">
          <img width="50px" class=""
            src="https://res.cloudinary.com/dp8csoo5l/image/upload/v1599687328/letter_qczrny.png" />
        </div>
        <div class="card-body p-1 m-2">
          <h6 class="card-title text-center mb-sm-5"><b>{{invite.name}}:</b></h6>
          <p class="card-text text-center mt-5">Já deste uma resposta no dia
            {{invite.lastAnswered | date:'shortDate'}}
          </p>
          <p class="card-text text-center mt-3">Podes sempre alterar a tua resposta!</p>
          <small class="text-muted">Agradecemos uma resposta final antes do dia 01/05/2021</small>
          <div class="row" class="align-items-center mb-3">
            <a class="btn btn-light text-center mt-5 bg-maroon text-white" [routerLink]="['/rsvp']"><i
                class="fa fa-edit mr-2"></i>Editar</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3 col-0"></div> -->

    <div class="col-8 pr-0 d-none d-sm-block">
      <!--       <img src="https://images.adsttc.com/media/images/5629/8b81/e58e/ce22/ae00/007c/large_jpg/003_280.jpg?1445563242"
        class="cover-img img-fluid"> -->
      <div class="cover-img h-100 w-100 p-0"></div>
    </div>

  </div>
</div>
